# RStudio files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# OS files
.DS_Store

# Logs and temporary files
*.log
*.tmp

# Generated model outputs
output/
results/
*.rds
*.Rds

# Data
#*.csv

# If using renv
renv/library/
renv/staging/

# Folders
turnover_model_results_*/
pressing_target_plots/
high_risk_passes_output/
